{% extends 'layouts/user/layout.html' %}


{% block main %}

<h1>
  {% include 'user/products/__title.html' with id=id %}
</h1>

<form method="post" id="product_form" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <!-- General infomation -->
    <div class="col-12 col-md-6">
      <div class="p-3 bg-white rounded shadow-sm">
        <h2 class="h5">General information</h2>
        <!-- Name -->
        <div class="form-group mb-3">
          <label for="name" class="form-label">Name</label>
          {{ form.name }}
        </div>
        <!-- Price -->
        <div class="form-group mb-3">
          <label for="price" class="form-label">Price</label>
          {{ form.price }}
        </div>
        <!-- Quantity -->
        <div class="form-group mb-3">
          <label for="{{ form.stock.id_for_label }}" class="form-label">
            {{ form.stock.label }}
          </label>
          {{ form.stock }}
        </div>
        <!-- Category -->
          <div class="form-group mb-3">
            <label for="{{ form.category.id_for_label }}" class="form-label">
              {{ form.category.label }}
            </label>
            <div class="d-flex gap-2">
            {{ form.category }}
            <a href="{% url 'category_create' %}" class="btn btn-light">
              <i class="fa-solid fa-plus"></i>
            </a>
            </div>
          </div>
      </div>
    </div>
    <!-- Description -->
    <div class="col-12 col-md-6">
      <div class="p-3 bg-white h-100 rounded shadow-sm">
        <h2 class="h5">Description</h2>
        <div class="form-group">
          {{ form.media }}
          {{ form.description }}
        </div>
      </div>
    </div>
    <!-- Images -->
    <div class="col-12">
      <div class="p-3 bg-white h-100 rounded shadow-sm mt-2">
        <h2 class="h5">Images</h2>
        <div class="d-flex gap-2">
          {{ formset.management_form }}
          {% for form in formset %}
            {% include 'user/products/_product_image_form.html' with form=form order=forloop.counter %}
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Submit -->
    <div class="col-12 mt-3">
      <button type="submit" class="btn btn-primary shadow-sm px-5">Save</button>
    </div>
</form>

{% endblock main %}


{% block user_scripts %}
<script>
  $(document).ready(function () {
    $('[data-image-form]').each(function (index, element) {
      const input = $(element).find('input[type="file"]');
      const imagePreview = $(element).find('[data-image-preview]');
      const guide = $(element).find('[data-guide]');

      input.change(function (e) {
        const file = e.target.files[0];
        const blob = URL.createObjectURL(file);
        imagePreview.attr('src', blob);
        imagePreview.removeClass('d-none');
        guide.addClass('d-none');
      });
    });
  })
</script>
{% endblock user_scripts %}
