{% extends 'layouts/user/layout.html' %}


{% block main %}

<h1>
  {% include 'user/products/__title.html' with id=id %}
</h1>

<form method="post" id="product_form" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <!-- General infomation -->
    <div class="col-12 col-md-6">
      <div class="p-3 bg-white rounded-0 shadow-sm">
        <h2 class="h5">General information</h2>
        <!-- Name -->
        {% include 'components/_form_field.html' with field=form.name %}
        <!-- Price -->
        {% include 'components/_form_field.html' with field=form.price %}
        <!-- Quantity -->
        {% include 'components/_form_field.html' with field=form.stock %}
        <!-- Category -->
        {% include 'components/_form_field.html' with field=form.category %}
      </div>
    </div>
    <!-- Description -->
    <div class="col-12 col-md-6">
      <div class="p-3 bg-white h-100 rounded shadow-sm">
        <h2 class="h5">Description</h2>
        <div class="form-group">
          {{ form.media }}
          {{ form.description }}
        </div>
        {% include 'components/__form_field_errors.html' with field=form.description %}
      </div>
    </div>
    <!-- Images -->
    <div class="col-12">
      <div class="p-3 bg-white h-100 rounded shadow-sm mt-2">
        <h2 class="h5">Images</h2>
        <div class="d-flex gap-2">
          {{ formset.management_form }}
          {% for form in formset %}
            {% include 'user/products/_product_image_form.html' with form=form order=forloop.counter %}
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Submit -->
    <div class="col-12 mt-3">
      <button type="submit" class="btn btn-primary shadow-sm px-5">Save</button>
    </div>
</form>

{% endblock main %}


{% block user_scripts %}
<script>
  $(document).ready(function () {
    $('[data-image-form]').each(function (index, element) {
      const input = $(element).find('input[type="file"]');
      const imagePreview = $(element).find('[data-image-preview]');
      const guide = $(element).find('[data-guide]');

      input.change(function (e) {
        const file = e.target.files[0];
        const blob = URL.createObjectURL(file);
        imagePreview.attr('src', blob);
        imagePreview.removeClass('d-none');
        guide.addClass('d-none');
      });
    });
  })
</script>
{% endblock user_scripts %}
