{% extends 'layouts/public/layout.html' %} {% block main %}
<div
  class="p-5 bg-white rounded-0 mx-auto mt-3 shadow-sm"
  style="max-width: 700px;"
>
  <h5>{% include 'layouts/public/_brand.html' %}</h5>
  <h6>Reset your password</h6>
  <p>Enter your email address to reset your password</p>

  {% if form.non_field_errors %}
  <div class="alert alert-danger">{{ form.non_field_errors.0 }}</div>
  {% endif %}

  <form method="post">
    {% csrf_token %} {% for field in form %}
    <div class="mb-3">
      {% include 'components/_form_field.html' with field=field %}
    </div>
    {% endfor %}
    <div class="text-end">
      <button type="submit" class="btn btn-primary">Next step</button>
    </div>
  </form>
</div>
{% endblock main %}
