{% extends 'user/layout.html' %}

{% block user_page_title %}
Change password
{% endblock %}

{% block user_create_btn %}
{% endblock %}

{% block user_main %}

<div class="col-12 col-md-10 col-lg-6">
  <div class="border p-3 rounded-0">
    <p>
      You should change your password regularly to keep your account secure.
    </p>

    {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors.0 }}</div>
    {% endif %}

    <form method="post">
      {% csrf_token %} {% for field in form %}
      <div class="mb-3">
        {% include "components/_form_field.html" with field=field %}
      </div>
      {% endfor %}
      <div class="">
        <button type="submit" class="btn btn-primary rounded-0">Change password</button>
      </div>
    </form>
  </div>

</div>

{% endblock %}
