{% extends 'layouts/public/layout.html' %} {% block main %}
<div
  class="p-4 rounded-0 mx-auto mt-3 border w-100"
  style="max-width: 500px"
>
  <div class="mb-3">
    {% include 'layouts/public/_brand.html' %}
    <h2>Register</h2>
    <p>Join us and start selling your products</p>
  </div>

  <form method="post">
    {% csrf_token %} {% for field in form %}
    <div class="mb-3">
      {% include 'components/_form_field.html' with field=field %}
    </div>
    {% endfor %}

    <div class="text-end mb-3">
      <button type="submit" class="btn btn-dark rounded-0">Next step</button>
    </div>
  </form>

  {% include 'account/components/_social_auth.html' %}

  <div class="my-3 text-center">
    <p>
      Already have an account?
      <a href="{% url 'account_login' %}" class="text-decoration-none">Login</a>
    </p>
  </div>

  <div class="small text-center">
    By continuing, you agree to our
    <a href="#">Terms of Service</a> and
    <a href="#">Privacy Policy</a>
  </div>
</div>
{% endblock main %}
