{% extends 'layouts/public/layout.html' %}

{% block main %}

<div class="row mt-5">
  <div class="col-12 col-md-6">
    <h1>Register</h1>
  </div>
  <div class="col-12 col-md-5">

    <div class="p-5 pb-2 bg-white rounded shadow-sm">
      <h1>Welcome back to <span class="text-primary">B</span>ast</h1>
      {{ form.errors }}
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <div class="mt-2 text-end">
          <button type="submit" class="btn btn-dark px-3">Login</button>
        </div>
      </form>
      <!-- OR -->
      <div class="">
        <div class="btn btn-light px-4 text-danger">
          <i class="fa-brands fa-google"></i> 
        </div>
        <div class="btn btn-light px-4 text-primary">
          <i class="fa-brands fa-facebook"></i> 
        </div>
        <div class="btn btn-light px-4 text-dark">
          <i class="fa-brands fa-github"></i> 
        </div>
      </div>

      <div class="my-3">
        <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        <p class="text-center">Can't login? <a href="{% url 'register' %}">Help</a></p>
      </div>

    </div>
  </div>
</div>

{% endblock main %}