<div class="row row-cols-1 row-cols-lg-5 mx-0 border d-none d-lg-flex">
  <!-- Free ship -->
  <div
    class="bg-light py-3 d-flex gap-1 align-items-center justify-content-center"
  >
    <div>
      <h6>
        <i class="bi bi-truck text-primary"></i>
        Miễn phí giao hàng
      </h6>
      <small class="text-muted p-0 mb-0"> Đơn hàng từ 500.000đ </small>
    </div>
  </div>
  <!-- Online suport -->
  <div
    class="bg-light py-3 d-flex gap-1 align-items-center justify-content-center"
  >
    <div>
      <h6>
        <i class="bi bi-headset text-primary"></i>
        Tư vấn 24/7
      </h6>
      <small class="text-muted p-0 mb-0"> Trực tuyến 24/24 </small>
    </div>
  </div>
  <!-- Free return -->
  <div
    class="bg-light py-3 d-flex gap-1 align-items-center justify-content-center"
  >
    <div>
      <h6>
        <i class="bi bi-arrow-repeat text-primary"></i>
        Hoàn hàng miễn phí
      </h6>
      <small class="text-muted p-0 mb-0"> 30 ngày miễn phí hoàn hàng </small>
    </div>
  </div>
  <!-- Payment Method -->
  <div
    class="bg-light py-3 d-flex gap-1 align-items-center justify-content-center"
  >
    <div>
      <h6>
        <i class="bi bi-credit-card text-primary"></i>

        Thanh toán tiện lợi
      </h6>
      <small class="text-muted p-0 mb-0">
        Đa dạng và bảo mật
      </small>
    </div>
  </div>
  <!-- Big Saving -->
  <div
    class="bg-light py-3 d-flex gap-1 align-items-center justify-content-center"
  >
    <div>
      <h6>
        <i class="bi bi-tags text-primary"></i>
        Tiết kiệm hơn
      </h6>
      <small class="text-muted p-0 mb-0"> Nhiều ưu đãi hấp dẫn </small>
    </div>
  </div>
</div>
