<section class="shadow-sm bg-white rounded" style="min-width: 250px;">
  <!-- Brand -->
  <div class="py-1 text-center ">
    <div class="fs-2 my-2">
      {% include 'layouts/public/_brand.html' %}
    </div>
  </div>
  <!-- Links -->
  <ul class="list-group-flush fs-6 px-0">
    <!-- Dashboard -->
    <li class="list-group-item mb-3 px-2">
      <a href="{% url 'dashboard' %}" class="d-flex gap-2 align-items-center text-black text-decoration-none">
        <div class="border p-1 px-2 rounded">
          <i class="fa-solid fa-icons"></i>
        </div>
        Dashboard
      </a>
    </li>

    <!-- Products -->
    <li class="list-group-item mb-3 px-2">
      <a href="{% url 'product_index' %}" class="d-flex gap-2 align-items-center text-black text-decoration-none">
        <div class="border p-1 px-2 rounded">
          <i class="fa-solid fa-bag-shopping"></i>
        </div>
        Products
      </a>
    </li>

    <!-- Categories -->
    <li class="list-group-item  mb-3 px-2">
      <a href="{% url 'category_index' %}" class="d-flex gap-2 align-items-center text-black text-decoration-none">
        <div class="border p-1 px-2 rounded">
          <i class="fa-solid fa-layer-group"></i>
        </div>
        Categories
      </a>
    </li>

    <!-- Orders -->
    <li class="list-group-item  mb-3 px-2">
      <div class="d-flex gap-2 align-items-center">
        <div class="border p-1 px-2 rounded">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
        Orders
      </div>
    </li>

    <!-- Profile -->
    <li class="list-group-item  mb-3 px-2">
      <a href="{% url 'shop_edit' %}" class="d-flex gap-2 align-items-center text-black text-decoration-none">
        <div class="border p-1 px-2 rounded">
          <i class="fa-regular fa-address-card"></i>
        </div>
        Profile
      </a>
    </li>

    <!-- Settings -->
    <li class="list-group-item  mb-3 px-2">
      <div class="d-flex gap-2 align-items-center">
        <div class="border p-1 px-2 rounded">
          <i class="fa-solid fa-cog"></i>
        </div>
        Settings
      </div>
    </li>

  </ul>
</section>