{% extends 'base/layout.html' %}

{% block body %}
<div class="d-flex gap-3 p-3 bg-secodary min-vh-100">
  <!-- Sidebar -->
  {% include 'layouts/user/_sidebar.html' %}

  <main class="flex-grow-1 bg-white shadow-sm rounded p-3">
    <!-- Infomation bar -->
    {% include 'layouts/user/_infomation_bar.html' %}

    {% block main %}
    
    {% endblock main %}
  </main>
</div>

{% endblock %}

{% block base_scripts %}
  {{ block.super }}
  {% block user_scripts %}
  {% endblock user_scripts %}
{% endblock %}