{% extends 'user/layout.html' %} 

{% block user_page_title %}
{% include 'user/categories/components/_title.html' with id=id %}
{% endblock %}

{% block user_create_btn %}
{% endblock %}
{% block user_main %}

<div class="row">
  <div class="col-12 col-md-8 col-lg-6 ">
    <div class="p-4 border">
      <form method="post">
        {% csrf_token %} 
        {% include 'components/_form_field.html' with field=form.name %}
        <div class="my-2">
          <button type="submit" class="btn btn-dark btn-sm rounded-0 px-3">
            Save
          </button>
        </div>
    
        {% if id %}
        <a
          href="{% url 'category_confirm_delete' id=id %}"
          class="btn btn-danger"
        >
          Delete this category
        </a>
        {% endif %}
      </form>
    </div>
  </div>
</div>

{% endblock %}
