{% extends 'layouts/public/layout.html' %}

{% block main %}

  <main class=" container py-3">

    <h2 class="fw-medium my-3 border-start border-5 border-primary ps-1 bg-light-subtle py-1">
    {% block user_page_title %} 
      Page title
    {% endblock %}
    </h2>

    {% block user_create_btn %}
    <a href="{% block user_create_url %}{% endblock %}" 
      class="btn btn-dark rounded-0 btn-sm mb-3">
      Tạo mới
    </a>
    {% endblock %}
    
    {% block user_main %}
    {% endblock %}
  </main>

{% endblock %}

{% block base_scripts %}
  {{ block.super }}
  {% block user_scripts %}
  {% endblock user_scripts %}
{% endblock %}