<div class="rounded-0 bg-white shadow-sm p-3">
  <img
    src="/media/{{ product.images.first.image }}"
    alt="{{ product.name }}" 
    class="w-100"
    style="object-fit: cover; object-position: center;
    min-width: 200px;
    aspect-ratio: 1/1;
    " />

  <div class="py-2">
    <!-- Name -->
    <a href="{% url 'home_product_detail' id=product.id %}" 
      class="text-decoration-none text-dark my-2 h6">
      {{ product.name|title }}
    </a>
    <!-- Rating -->
    {% include 'home/__rating.html' %}
    <!-- Price -->
    <a class="btn btn-outline-danger btn-sm w-100 rounded-0" href="{% url 'home_product_detail' id=product.id %}">
      {{ product.price|floatformat:"-3g" }}đ
    </a>
    <!-- Owner -->
    <div class="d-flex align-items-center">
      <!-- Owner info -->
      <div class="d-flex gap-2 align-items-center flex-grow-1">
        <img
          src="https://yt3.ggpht.com/XsQGEFu_0-dYNwzmzpsbL8d1m2NUNAkm-0jMYJChphymIlpPEgErjPqNPpRnxdPcyAq2U1M3cQ=s88-c-k-c0x00ffffff-no-rj"
          alt="{{ product.owner }}" class="rounded-circle" style="--size: 18px; width: var(--size); height: var(--size);">
        <a href="{% url 'shop' username=product.owner.username %}" class="text-decoration-none text-dark">
          <span>
            {{ product.owner }}
          </span>
        </a>
      </div>
      <!-- Owner action -->
      {% if user == product.owner %}
      <div class="dropdown">
        <button type="button"
            class="btn dropdown-toggle border-0" 
            data-bs-toggle="dropdown" 
            aria-expanded="false">
        </button>
        <ul class="dropdown-menu rounded-0">
          <li>
            <a class="dropdown-item" href="{% url 'product_edit' id=product.id %}">
              <i class="fa-solid fa-magnifying-glass-chart"></i>
              Detail
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'product_confirm_delete' id=product.id %}">
              <i class="fa-solid fa-trash"></i>
              Delete
            </a>
          </li>
        </ul>
      </div>     
      {% endif %}
    </div>
  </div>

</div>