{% extends 'layouts/public/layout.html' %} {% block main %}
<main class="container py-3">
  <div class="mb-3">
    {% include "home/components/__banner.html" %}
  </div>

  <div class="mb-3">
    {% include "home/components/__feature_banner.html" %}
  </div>
  
  <div class="container mb-3">
    <h2 class="text-center mb-4">Shop by Categories</h2>
    <div class="owl-carousel owl-theme" id="category-carousel">
      {% for category in categories %}
      <div class="item">
        <div class="text-center bg-light rounded-0 p-3">
          <a href="{{ category.url }}" class="text-decoration-none">
            <img
              src="{{ category.image }}"
              class="rounded"
              alt="{{ category.name }}"
              style="height: 150px; width: 100%; object-fit: cover;"
            />
            <div class="mt-2">
              <h5 class="text-dark fw-medium">{{ category.name }}</h5>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
  

  <div class="row mb-3">
    <!-- Search -->
    <div class="col-12 col-lg-4">
      {% include 'layouts/public/components/__search_form.html' %}
    </div>
    <!-- Filter by tag -->
    <div class="col-12 col-lg-8">
      <div class="text-lg-end mt-2 mt-md-0">
        <div class="btn-group">
        {% for tag in tags %}
          <a href="{% url 'index' %}?tag={{ tag.name }}" 
          class="btn rounded-0 {% if selected_tag == tag.name %}btn-dark{% else %}btn-light{% endif %}">
          {{ tag.label }}
        </a>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>


  <!-- products -->
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-5">
    {% for product in products %}
    <div class="col">
      <div class="mt-3">{% include 'home/_product_card.html' %}</div>
    </div>
    {% endfor %}
  </div>

</main>

{% endblock %}

{% block public_scripts %}
<script>
  $(document).ready(function () {
    $("#category-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      dots: true,
      responsive: {
        0: { items: 2 },
        600: { items: 3 },
        1000: { items: 6 }
      }
    });

    $('#banner-carousel').owlCarousel({
      margin: 10,
      items: 1,
      dots: true,
      autoplay: true,
      loop: true,
    });
  });
</script>
{% endblock public_scripts %}