<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    {% include 'layouts/public/_brand.html' %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#">
            Về Bast
          </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'product_index' %}">
                My Products
              </a></li>
            <li><a class="dropdown-item" href="{% url 'product_create' %}">
                Create Product
              </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'category_index' %}">
                My Categories
              </a></li>
            <li><a class="dropdown-item" href="{% url 'category_create' %}">
                Create Category
              </a></li>
          </ul>
        </li>
        {% endif %}

      </ul>

      <div class="d-flex gap-2">
        <button type="button" class="btn border-0">
          <i class="fas fa-shopping-cart"></i>
        </button>
        {% if user.is_authenticated %}
        {% include 'layouts/public/_user_dropdown.html' %}
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-dark">
          Đăng nhập
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>