<div class="btn-group">
  <button type="button" class="btn dropdown-toggle border-0" data-bs-toggle="dropdown" aria-expanded="false">
    <img
      src="https://yt3.ggpht.com/XsQGEFu_0-dYNwzmzpsbL8d1m2NUNAkm-0jMYJChphymIlpPEgErjPqNPpRnxdPcyAq2U1M3cQ=s88-c-k-c0x00ffffff-no-rj"
      alt="user-avatar" class="rounded-circle" style="--size: 32px; width: var(--size); height: var(--size);" />
  </button>
  <ul class="dropdown-menu dropdown-menu-end" style="min-width: 320px;">
    <li>
      <div class="px-3 py-2">
        <h6>{{ user.first_name }} {{ user.last_name }}</h6>
        <small>
          <span>
            Số dư: {{ user.information.balance|floatformat:"-3g" }}đ
          </span>
        </small>
      </div>
    </li>
    <li>
      <a href="{% url 'dashboard' %}" class="dropdown-item">
        <i class="fa-solid fa-shapes"></i>
        <span class="ms-2">
          Shop của tôi
        </span>
      </a>
    </li>
    <li>
      <a class="dropdown-item">
        <i class="fa-solid fa-coins"></i>
        <span class="ms-2">
          Nạp / rút tiền
        </span>
      </a>
    </li>
    <li>
      <a class="dropdown-item">
        <i class="fa-solid fa-lock"></i>
        <span class="ms-2">
          Đổi mật khẩu
        </span>
      </a>
    </li>
    <li>
      <a class="dropdown-item">
        <i class="fa-solid fa-gear"></i>
        <span class="ms-2">
          Cài đặt
        </span>
      </a>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li>
      <a href="{% url 'logout' %}" class="dropdown-item text-danger">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span class="ms-2">Đăng xuất</span>
      </a>
    </li>
  </ul>
</div>