{% extends 'layouts/public/layout.html' %} {% block main %}
<div
  class="p-4 bg-white rounded mx-auto mt-3 shadow-sm w-100"
  style="max-width: 500px"
>
  <div class="mb-3">
    {% include 'layouts/public/_brand.html' %}
    <h2>Register</h2>
    <p>Join us and start selling your products</p>
  </div>

  <form method="post">
    {% csrf_token %}

    <div class="mb-3">
      {% include 'components/_form_field.html' with field=form.username %}
    </div>

    <div class="mb-3">
      {% include 'components/_form_field.html' with field=form.password1 %}
    </div>

    <div class="text-end mb-3">
      <button type="submit" class="btn btn-dark">Register</button>
    </div>

    {% include 'app/auth/components/_social_auth.html' %}
    <div class="mb-3 text-center">
      <p>Already have an account? <a href="{% url 'login' %}" class="text-decoration-none">Login</a></p>
    </div>

    <div class="small text-center">
      By continuing, you agree to our
      <a href="#">Terms of Service</a> and
      <a href="#">Privacy Policy</a>
    </div>
  </form>
</div>
{% endblock main %}
