{% extends 'layouts/public/layout.html' %} {% block main %}
<div
  class="p-5 bg-white rounded mx-auto mt-3 shadow-sm"
  style="max-width: 700px"
>
  <h5>{% include 'layouts/public/_brand.html' %}</h5>
  <h6>Your password reset link has been sent</h6>
  <p class="text-muted">
    Check your email for a link to reset your password. If it doesn’t appear
    within a few minutes, check your spam folder.
  </p>
  <a href="{% url 'login' %}" class="btn btn-dark">
    <i class="fa-solid fa-arrow-left"></i> Back to login page
  </a>
</div>
{% endblock main %}
