<nav
  class="navbar navbar-expand-lg sticky-top navbar-light bg-white border-bottom"
>
  <div class="container py-2">
    <div class="d-flex justify-content-end align-items-center">
      <button
        class="navbar-toggler border-0 text-dark"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <i class="fa-solid fa-bars"></i>
      </button>
      {% include 'layouts/public/_brand.html' %}
    </div>

    {% if not user.is_authenticated %}
    <div class="ms-auto d-md-none">
      {% include 'layouts/public/components/_login_button.html' %}
    </div>
    {% endif %} 

    <!-- offcanva public -->
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        {% include 'layouts/public/_brand.html' %}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>

      <div class="offcanvas-body">
        <ul
          class="navbar-nav justify-content-end align-items-lg-center flex-grow-1 gap-2 i-nav-link"
        >
          <li class="nav-item">
            <a class="nav-link ps-md-0 ps-2" href="{% url 'checkout' %}">
              Sản Phẩm
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link ps-md-0 ps-2" href="{% url 'checkout' %}">
              Danh Mục
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link ps-md-0 ps-2" href="{% url 'checkout' %}">
              Tin Tức
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link ps-md-0 ps-2" href="{% url 'checkout' %}">
              Khuyến Mãi
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link ps-md-0 ps-2" href="{% url 'checkout' %}">
              Giới Thiệu
            </a>
          </li>

          <li class="nav-item">
            {% include 'layouts/public/components/_login_button.html' %}
          </li>
        </ul>
      </div>
    </div>
    <!-- end  offcanva public -->

    <!-- Offcanvas user button -->
    {% if user.is_authenticated %}
    <div class="d-flex justify-content-end align-items-center">
      <a
        class="nav-link navbar-toggler border-0 me-2"
        href="{% url 'checkout' %}"
      >
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
      <button
        class="border-0 text-dark"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasUser"
        aria-controls="offcanvasUser"
        aria-label="Toggle navigation"
      >
        {% include 'layouts/user/_user_avatar.html' %}
      </button>
    </div> 
    {% endif %}
    <!-- End Offcanvas user button -->
  </div>
</nav>


<!-- offcanva user -->
{% include 'layouts/public/components/_offcanvas_user.html' %}   