<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <div class="container">
    {% include 'layouts/public/_brand.html' %}

    <button
      class="navbar-toggler border-0 bg-light text-dark"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        {% include 'layouts/public/_brand.html' %}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end align-items-lg-center flex-grow-1 gap-2">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu dropdown-menu-end rounded-0" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'product_index' %}">List of products</a></li>
              <li><a class="dropdown-item" href="#">Create new product</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.last_name }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end rounded-0" aria-labelledby="navbarDropdown">
              <li>
                <form action="{% url 'account_logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item">Logout</button>
                </form>
              </li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item d-none d-lg-block">
            <a class="fw-medium btn btn-outline-dark rounded-0 py-1" href="{% url 'account_login' %}">Login</a>
          </li>
          <li class="nav-item d-block d-lg-none w-100 text-end">
            <a class="fw-medium btn btn-outline-dark rounded-0 py-1 w-50" href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
