<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <div class="container">
    {% include 'layouts/public/_brand.html' %}

    <button
      class="navbar-toggler border-0 bg-light text-dark"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        {% include 'layouts/public/_brand.html' %}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end align-items-end align-items-lg-center flex-grow-1 gap-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <form action="{% url 'account_logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger rounded-0">Logout</button>
            </form>
          </li>
          {% else %}
          <li class="nav-item d-none d-lg-block">
            <a class="fw-medium btn btn-outline-dark rounded-0 py-1" href="{% url 'account_login' %}">Login</a>
          </li>
          <li class="nav-item d-block d-lg-none w-100 text-end">
            <a class="fw-medium btn btn-outline-dark rounded-0 py-1 w-50" href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
