<div class="btn-group">
  <button type="button" class="btn dropdown-toggle border-0" data-bs-toggle="dropdown" aria-expanded="false">
    <img
      src="/media/{{ user.avatar|default:'avatars/default.jpg' }}"
      alt="user-avatar" 
      class="rounded-circle" 
      style="--size: 32px; width: var(--size); height: var(--size);" />
  </button>
  <ul class="dropdown-menu dropdown-menu-end" style="min-width: 320px;">
    <li>
      <div class="px-3 py-2">
        <div class="mb-2">
          <h6 class="my-0">{{ user.first_name }} {{ user.last_name }}</h6>
          <small class="d-block">@{{ user.username }}</small>
        </div>
        <!--Show of hide balance  -->
        <div class="d-flex justify-content-between">
          <small>
            Số dư: {{ user.information.balance|default:0|floatformat:"-3g" }}đ
          </small>
          {% if user.a %}
            <i class="fa-solid fa-eye"></i>
          {% else %}  
            <i class="fa-solid fa-eye-slash"></i>
          {% endif %}
        </div>
        <div>
          <small>
            <a href="{% url 'shop' %}" class="text-decoration-none">
              View your shop
            </a>
          </small>
        </d>
      </div>
    </li>
    <li>
      <a href="{% url 'dashboard' %}" class="dropdown-item">
        <i class="fa-solid fa-chart-line"></i>
        <span class="ms-2">
          Dashboard
        </span>
      </a>
    </li>
    <li>
      <a class="dropdown-item">
        <i class="fa-solid fa-coins"></i>
        <span class="ms-2">
          Wallet
        </span>
      </a>
    </li>
    <li>
      <a href="{% url 'auth:change_password' %}" class="dropdown-item">
        <i class="fa-solid fa-lock"></i>
        <span class="ms-2">
          Change password
        </span>
      </a>
    </li>
    <li>
      <a class="dropdown-item">
        <i class="fa-solid fa-gear"></i>
        <span class="ms-2">
          Settings
        </span>
      </a>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li>
      <a href="{% url 'auth:logout' %}" class="dropdown-item text-danger">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span class="ms-2">
          Logout
        </span>
      </a>
    </li>
  </ul>
</div>