{% if messages %}
{% for message in messages %}
<div class="
        alert alert-{{ message.level_tag  }} alert-dismissible
        position-fixed bottom-0 end-0 me-2 shadow-sm bg-white p-3 rounded-0
        slide-up
        fw-bold
        z-3
        {# handle UI #}
        {% if message.level_tag == 'error' %}
        alert-danger
        {% elif message.level_tag == 'warning' %}
        border border-warning
        {% elif message.level_tag == 'info' %}
        border border-info
        {% elif message.level_tag == 'success' %}
        border border-success
        {% endif %}
        " 
    role="alert" 
    style="width: 100%; height: auto; min-width: 280px; max-width: 450px;">
    <div class="d-flex">
        <h5 class="fw-bold">{{ message.extra_tags|capfirst }}</h5>
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <p>
        {{ message }}
    </p>
</div>
{% endfor %}
{% endif %}
