{% extends 'base/layout.html' %}

{% block body %}
  {% include 'layouts/public/_navbar.html' %}
  {% include "layouts/public/alert.html" %}
  <main style="min-height: 50vh;">
    {% block main %}
    {% endblock main %}
  </main>
{% include 'layouts/public/components/_footer.html' %}
{% endblock %}

{% block base_scripts %}
  {{ block.super }}
  {% block public_scripts %}  
  <script>
    console.log('public_layout.html')
  </script>
  {% endblock public_scripts %}
{% endblock base_scripts %}

