.nav-tabs .nav-link {
  font-size: 2rem;
  color: var(--bs-light-text-emphasis);
  border: 0;
  transition: all 0.25s ease;
}


.zoom-hover {
  transition: all 0.25s ease;
  scale: 1.25;
}

.hover-shown:hover {
  opacity: 1 !important;
}