<div class="rounded shadow-sm bg-white zoom-hover pt-3">
  <img
    src="/media/{{ product.image }}"
    alt="{{ product.name }}" 
    class="w-100"
    style="height: 200px; object-fit: contain; object-position: center;" />

  <div class="p-3">
    <!-- Name -->
    <a href="{% url 'home_product_detail' id=product.id %}" 
      class="text-decoration-none text-dark my-2 h6">
      {{ product.name|title }}
    </a>
    <!-- Rating -->
    {% include 'home/__rating.html' %}
    <!-- Price -->
    <h6 class="text-danger">
      {{ product.price|floatformat:"-3g" }}đ
    </h6>
    <!-- Owner -->
    <div class="d-flex gap-2 align-items-center">
      <img
        src="https://yt3.ggpht.com/XsQGEFu_0-dYNwzmzpsbL8d1m2NUNAkm-0jMYJChphymIlpPEgErjPqNPpRnxdPcyAq2U1M3cQ=s88-c-k-c0x00ffffff-no-rj"
        alt="{{ product.owner }}" class="rounded-circle" style="--size: 18px; width: var(--size); height: var(--size);">
      <a href="{% url 'shop' username=product.owner.username %}" class="text-decoration-none text-dark">
        <span>
          {{ product.owner }}
        </span>
      </a>
    </div>
    <!-- Owner site -->
    {% if user == product.owner %}
    <div class="d-flex justify-content-between">
      <!--Quick analysis -->
      <div class="d-flex align-items-center gap-1 flex-wrap">
        <span class="badge text-bg-dark">453 <i class="fa-solid fa-eye"></i></span>
        <span class="badge text-bg-dark">242 <i class="fa-solid fa-cubes-stacked"></i></span>
      </div>
      <!-- Actions -->
      <div>
        <a href="{% url 'product_edit' id=product.id %}" class="btn">
          <i class="fa-solid fa-magnifying-glass-chart"></i>
        </a>
        <a href="{% url 'product_edit' id=product.id %}" class="btn">
          <i class="fa-solid fa-edit"></i>
        </a>
        <a href="{% url 'product_edit' id=product.id %}" class="btn ">
          <i class="fa-solid fa-trash"></i>
        </a>
      </div>
    </div>




    {% endif %}
  </div>


</div>