<label data-image-form 
  class="ratio ratio-1x1 border rounded" 
  style="width: 150px;">
  <!-- input -->
  <div class="d-none">
    {{ form }}
  </div>

  <!-- img -->
  <img 
    data-image-preview  
    src="/media/{{ form.image.value }}" 
    class="
      {% if form.image.value %}
      {% else %}
        d-none
      {% endif %}
      "
    >

  <!-- guide  -->
  <div data-guide class="d-flex justify-content-center align-items-start flex-wrap p-1 pt-5
    {% if form.image.value %}
      d-none
    {% else %}
    {% endif %}
    " role="button">
    <div data-guide class="text-center">
      <i class="fa-solid fa-upload text-secondary fs-3"></i>
      <small class="d-block w-100" style="font-size: 12px;">
        Click to upload
      </small>
      <small class="d-block w-100" style="font-size: 12px;">
        Image {{ order }}
      </small>
    </div>
  </div>
</label>