{% extends 'layouts/user/layout.html' %}


{% block main %}

<h1>
  {% include 'user/products/__title.html' with id=id %}
</h1>

<form method="post" id="product_form" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <!-- General infomation -->
    <div class="col-12 col-md-6">
      <div class="p-3 bg-white rounded shadow-sm">
        <h2 class="h5">General information</h2>
        <!-- Name -->
        <div class="form-group mb-3">
          <label for="name" class="form-label">Name</label>
          {{ form.name }}
        </div>
        <!-- Price -->
        <div class="form-group mb-3">
          <label for="price" class="form-label">Price</label>
          {{ form.price }}
        </div>
        <!-- Quantity -->
        <div class="form-group mb-3">
          <label for="quantity">Quantity</label>
          <input type="number" class="form-control" id="quantity" name="quantity">
        </div>
        <!-- Category -->
        <div class="form-group mb-3">
          <label for="{{ form.category.id_for_label }}" class="form-label">
            {{ form.category.label }}
          </label>
          {{ form.category }}
        </div>
      </div>
    </div>
    <!-- Description -->
    <div class="col-12 col-md-6">
      <div class="p-3 bg-white h-100 rounded shadow-sm">
        <h2 class="h5">Description</h2>
        <div class="form-group">
          {{ form.media }}
          {{ form.description }}
        </div>
      </div>
    </div>
    <!-- Images -->
    <div class="col-12">
      <div class="p-3 bg-white h-100 rounded shadow-sm mt-2">
        <h2 class="h5">Images</h2>
        <div class="d-flex gap-2">
          {{ formset.management_form }}
          {% for form in formset %}
            {% include 'user/products/_product_image_form.html' with form=form order=forloop.counter %}
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Submit -->
    <div class="col-12 mt-3">
      <button type="submit" class="btn btn-primary shadow-sm px-5">Save</button>
    </div>
</form>

{% endblock main %}


{% block user_scripts %}
<!-- 
<script>
  const fileArrays = [];
  function removeImage(index) {
    fileArrays.splice(index, 1);
    reRenderPreviewImage();
  }

  function reRenderPreviewImage() {
    const imagePreviewContainer = $('#image_preview-container');

    imagePreviewContainer.html('');
    fileArrays.forEach((file, index) => {
      const blob = URL.createObjectURL(file);
      const imgPreview =
        `<div class="ratio ratio-1x1 me-2 position-relative" style="width: 150px;">
              <img src="${blob}"
                alt="Preview image"
                class="rounded w-100 h-100 object-fit-cover">
          <div class="position-absolute w-100 h-100 opacity-0 hover-shown">
            <div class="d-flex justify-content-center align-items-center h-100">
              <button type="button" onclick="removeImage(${index})" class="btn btn-sm btn-danger">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
        `;
      imagePreviewContainer.append(imgPreview);
    });
  }

  $(document).ready(function () {

    $('#image_file').change(function (e) {
      const file = e.target.files[0];
      fileArrays.push(file);
      reRenderPreviewImage();
    });


    $('#product_form').submit(function (e) {
      e.preventDefault();
      const form = $(this);
      
      const formData = new FormData();
      fileArrays.forEach(file => {
        formData.append('product_images', file);
      });

      // Append form fields to formData
      const formFields = form.serializeArray();
      formFields.forEach(field => {
        formData.append(field.name, field.value);
      });

      const url = form.attr('action');
      const method = form.attr('method');
      const data = form.serialize();

      console.log(formData);

      $.ajax({
        url: url,
        method: method,
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          console.log(response);
        },
        error: function (error) {
          console.log(error);
        }
      });

    });
  });
</script> -->

<script>
  $(document).ready(function () {
    $('[data-image-form]').each(function (index, element) {
      const input = $(element).find('input[type="file"]');
      const img = $(element).find('img');
      const label = $(element).find('label');

      input.change(function (e) {
        const file = e.target.files[0];
        const blob = URL.createObjectURL(file);
        img.attr('src', blob);
        img.removeClass('d-none');
        label.addClass('d-none');
      });

      label.click(function () {
        input.click();
      });
    });
  })
</script>
{% endblock user_scripts %}

<!-- 
          
-->