{% extends 'layouts/user/layout.html' %}

{% block main %}

<h1>
  {% include 'user/products/__title.html' with id=id %}
</h1>

<form method="post">
  {% csrf_token %}
  <div class="row">
    <!-- General infomation -->
    <div class="col-12 col-md-6">
      <div class="p-3 bg-white rounded shadow-sm">
        <h2 class="h5">General information</h2>
        <!-- Name -->
        <div class="form-group mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="{{ form.name.value }}">
        </div>
        <!-- Price -->
        <div class="form-group mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price" name="price" value="{{ form.price.value }}">
        </div>
        <!-- Quantity -->
        <div class="form-group mb-3">
          <label for="quantity">Quantity</label>
          <input type="number" class="form-control" id="quantity" name="quantity" value="{{ form.quantity.value }}">
        </div>
        <!-- Category -->
        <div class="form-group mb-3">
          <label for="category">Category</label>
          <select class="form-control" id="category" name="category">
            <option value="">Select category</option>
            {% for category in categories %}
            <option value="{{ category.id }}"
              {% if category.id == form.category.value %} 
                selected 
              {% endif %}>
              {{ category.name }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <!-- Description -->
    {# TODO: replace by using richtext #}
    <div class="col-12 col-md-6">
      <div class="p-3 bg-white h-100 rounded shadow-sm">
        <h2 class="h5">Description</h2>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description"
          rows="10" >{{ form.description.value }}</textarea>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="p-3 bg-white h-100 rounded shadow-sm mt-2">
        <div class="d-flex gap-2 ">
          <!-- Image preview -->
          <div class="ratio ratio-1x1" style="width: 150px;">
              <img src="https://th.bing.com/th/id/R.7125a46a48697ef733748504cc90ada9?rik=PJThjYTLGK%2f1bA&pid=ImgRaw&r=0"
                alt="Preview image"
                class="rounded w-100 h-100 object-fit-cover">
          </div>
          <!-- Upload image -->
          <div class="ratio ratio-1x1 border rounded"
              style="width: 150px;">
              <label class="d-flex justify-content-center align-items-end flex-wrap p-1">
                <i class="fa-solid fa-upload text-secondary fs-1"></i>
                <small class="d-block w-100 text-center" style="font-size: 12px;">
                  Drag or drop
                  <br> image here
                  <br>
                  to upload
                </small>
                <input type="file" hidden>
              </label>
          </div>
        </div>
      </div>
    </div>
</form>



{% endblock main %}


{# <!-- {% include 'user/products/_product_form.html' with form=form %} --> #}

<div class="form-group">
  <label for="description">Description</label>
  <textarea class="form-control" id="description" name="description">{{ form.description.value }}</textarea>
</div>