{% extends 'layouts/user/layout.html' %}

{% block main %}

<h1>
  {% include 'user/products/__title.html' with id=id %}
</h1>

<form method="post">
  {% csrf_token %}
  <div class="row">
    <!-- General infomation -->
    <div class="col-12 col-md-6">
      <div class="p-3 bg-white rounded shadow-sm">
        <h2 class="h5">General information</h2>
        <!-- Name -->
        <div class="form-group mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" >
        </div>
        <!-- Price -->
        <div class="form-group mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price" name="price">
        </div>
        <!-- Quantity -->
        <div class="form-group mb-3">
          <label for="quantity">Quantity</label>
          <input type="number" class="form-control" id="quantity" name="quantity">
        </div>
        <!-- Category -->
        <div class="form-group mb-3">
          <label for="category">Category</label>
          <select class="form-control" id="category" name="category">
            <option value="">Select category</option>
            {% for category in categories %}
            <option value="{{ category.id }}"
              {% if category.id == form.category.value %} 
                selected 
              {% endif %}>
              {{ category.name }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <!-- Description -->
    {# TODO: replace by using richtext #}
    <div class="col-12 col-md-6">
      <div class="p-3 bg-white h-100 rounded shadow-sm">
        <h2 class="h5">Description</h2>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description"
          rows="10" >{{ form.description.value }}</textarea>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="p-3 bg-white h-100 rounded shadow-sm mt-2">
        <h2 class="h5">Images</h2>
        <div class="d-flex">

          <div id="image_preview-container" class="d-flex"></div>

          <!-- Upload image -->
          <div class="ratio ratio-1x1 border rounded"
            style="width: 150px;">
            <label class="d-flex justify-content-center align-items-end flex-wrap p-1">
              <i class="fa-solid fa-upload text-secondary fs-1"></i>
              <small class="d-block w-100 text-center" style="font-size: 12px;">
                Drag or drop
                <br> image here
                <br>
                to upload
              </small>
              <input id="image_file" type="file" hidden accept="image/*">
            </label>
          </div>
        </div>
      </div>
    </div>
</form>

{% endblock main %}


{% block user_scripts %}

<script>
  const fileArrays = [];
  function removeImage(index) {
    fileArrays.splice(index, 1);
    reRenderPreviewImage();
  }

  function reRenderPreviewImage() {  
    const imagePreviewContainer = $('#image_preview-container');

    imagePreviewContainer.html('');
    fileArrays.forEach((file, index) => {
      const blob = URL.createObjectURL(file);
      const imgPreview = 
        `<div class="ratio ratio-1x1 me-2 position-relative" style="width: 150px;">
              <img src="${blob}"
                alt="Preview image"
                class="rounded w-100 h-100 object-fit-cover">
          <div class="position-absolute w-100 h-100 opacity-0 hover-shown">
            <div class="d-flex justify-content-center align-items-center h-100">
              <button type="button" onclick="removeImage(${index})" class="btn btn-sm btn-danger">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
        `;
      imagePreviewContainer.append(imgPreview);
    });
  }
  
  $(document).ready(function() {

    $('#image_file').change(function (e) {
      const file = e.target.files[0];
      fileArrays.push(file);
      reRenderPreviewImage();
    });

  });
</script>

{% endblock user_scripts %}