{% extends 'user/layout.html' %}

{% block user_page_title %} 
Dashboard
{% endblock %}

{% block user_create_btn %}
{% endblock %}

{% block user_main %}
  <div class="row">
    <div class="col-12 col-md-6">
      <h4 class="fw-bolder me-auto my-3">
        Overview
      </h4>        
    </div>
    <div class="col-12 col-md-6">
      <div class="text-lg-end my-3">
        <button class="btn btn-primary btn-sm">
          Today
        </button>
        <button class="btn btn-outline-primary btn-sm">
          Yesterday
        </button>
        <button class="btn btn-outline-primary btn-sm">
          Last 7 days
        </button>
        <button class="btn btn-outline-primary btn-sm">
          Last 30 days
        </button>
      </div>      
    </div>
    <!-- Orders -->
    {% include "user/shops/components/stat_card.html" with value="64" title="Orders" text_color="text-primary" change_class="text-success" icon="fa-arrow-up" change_text="+14% from yesterday" %}
    <!-- Revenue -->
    {% include "user/shops/components/stat_card.html" with value="1,249,000đ" title="Revenue" text_color="text-primary" change_class="text-success" icon="fa-arrow-up" change_text="+10% from yesterday" %}
  
    <!-- Customers -->
    {% include "user/shops/components/stat_card.html" with value="32" title="New customers" text_color="" change_class="text-danger" icon="fa-arrow-down" change_text="-9% from yesterday" %}
    <!-- Visitor -->
    {% include "user/shops/components/stat_card.html" with value="2,834" title="Visitors" text_color="" change_class="text-success" icon="fa-arrow-up" change_text="+15% from yesterday" %}
    
    <!-- Chart -->
    <div class="col-6">
      <div class="p-3 border mt-2 bg-white rounded">
        <div class="d-flex gap-2 justify-content-end align-items-center" style="--size: 50px;">
          <h4 class="fw-bolder me-auto">
            Revenue
          </h4>

          <div>
            <input type="radio" class="btn-check" name="options-base" id="option5" autocomplete="off" checked>
            <label class="btn btn-outline-primary btn-sm" style="min-width: var(--size);" for="option5">Date</label>
          </div>

          <div>
            <input type="radio" class="btn-check" name="options-base" id="option6" autocomplete="off">
            <label class="btn btn-outline-primary btn-sm" style="min-width: var(--size);" for="option6">Week</label>
          </div>

          <div>
            <input type="radio" class="btn-check" name="options-base" id="option7" autocomplete="off">
            <label class="btn btn-outline-primary btn-sm" style="min-width: var(--size);" for="option7">Month</label>
          </div>

          <button class="btn border-0 bg-body-tertiary px-3">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>
        </div>
        <canvas id="chart"></canvas>
      </div>
    </div>

  </div>

{% endblock %}

<!-- Scripts -->
{% block user_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('chart');

  const labels = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

  const datasets = [
    {
      label: 'this year',
      data: [7, 11, 5, 8, 3, 7, 9, 10, 11, 12, 13, 14],
      borderWidth: 1,
    }
  ]

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels,
      datasets
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

</script>
{% endblock user_scripts %}