{% extends 'user/layout.html' %}

{% block user_page_title %}
Thông tin cửa hàng
{% endblock %}

{% block user_create_btn %}
{% endblock %}

{% block user_main %}
<div class="d-flex gap-2">
  <a href="{% url 'shop' %}" class=" btn btn-primary rounded-0 mb-3">
    Trang cửa hàng
  </a>
  <a href="{% url 'product_index' %}" class=" btn btn-primary rounded-0 mb-3">
    Sản phẩm
  </a>
  <a href="{% url 'product_index' %}" class=" btn btn-primary rounded-0 mb-3">
    Đơn hàng
  </a>
</div>

{# form #}
<form method="post" enctype="multipart/form-data" class="border p-3 ">
  {% csrf_token %}
  <div class="row ">
    {# personal & bio #}
    <div class="col-12 col-md-4">
      {# personal #}
      <h5>Thông tin cá nhân</h5>
      <div class="mb-3 d-flex flex-column align-items-center gap-3">
        <img src="/media/{{ informationForm.avatar.value|default:'avatars/default.png' }}" 
            id="avatar-preview"
            class="img-fluid rounded border p-2" alt="{{ user.username }}"
            style="--size: 80px; width: var(--size); height: var(--size);">
        {% include 'components/__form_field_errors.html' with field=informationForm.avatar %}
        <label class="btn btn-light btn-sm">
          <i class="fa-solid fa-arrow-up me-1"></i>
          Cập nhật ảnh đại diện
          <div class="d-none">
            {{ informationForm.avatar }}
          </div>
        </label>
      </div>
      <div class="mb-3">
        {% include 'components/_form_field_with_errors.html' with field=userForm.first_name %}
      </div>
      <div class="mb-3">
        {% include 'components/_form_field_with_errors.html' with field=userForm.last_name %}
      </div>
      <div class="mb-3">
        {% include 'components/_form_field_with_errors.html' with field=informationForm.bio %}
      </div>
    </div>
    {#  address #}
    <div class="col-12 col-md-4">
      <h5>Địa chỉ</h5>

      {% for field in addressForm %}
      <div class="mb-3">
        {% include 'components/_form_field_with_errors.html' with field=field %}
      </div>
      {% endfor %}
      
    </div>
    {# contact #}
    <div class="col-12 col-md-4">
      <h5>Thông tin liên hệ</h5>
      <div class="mb-3">
        {% include 'components/_form_field_with_errors.html' with field=userForm.email %}
      </div>
      <div class="mb-3">
        {% include 'components/_form_field_with_errors.html' with field=informationForm.phone %}
      </div>
      <div class="mb-3">
        {% include 'components/_form_field_with_errors.html' with field=informationForm.website %}
      </div>
    </div>
    {# submit #}
    <div class="col-12 text-end">
      <button type="submit" class="btn btn-primary rounded-0 px-5">Lưu thay đổi</button>
    </div>
  </div>
</form>
{% endblock %}

{% block user_scripts %}
<script>
  $(document).ready(function() {
    $('[name="avatar"]').change(function(e) {
      const fileName = e.target.files[0].name;
      $('#avatar-preview').attr('src', URL.createObjectURL(e.target.files[0]));
    });
  });
</script>
{% endblock %}