{% extends 'layouts/public/layout.html' %} {% block main %}

<div class="container">
  <div class="row mt-2">
    <div class="col-12 col-md-3">
      {% include 'user/shops/components/_shop_info.html' %}
    </div>

    <div class="col-12 col-md-9 mt-3 mt-md-0">
      {# Products #}
      <h5 class="fw-bold">Products</h5>
      {# Filters #}
      <form action="" method="get">
        {# Search #}
        <div class="input-group mb-2" 
          style="width: 100%; min-width: 200px; max-width: 300px;">
          <input name="q" 
            type="search"
            value="{{ q }}"
            class="form-control rounded-0" 
            placeholder="Search products" 
            aria-label="Search products" 
            aria-describedby="button-search">
          <button class="btn btn-dark rounded-0" type="submit" id="button-search">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>

        {# Categories #}
        <div class="d-flex">
          {% for category in categories %}
          {% include 'user/shops/components/_filter_by_category_btn.html' %}
          {% endfor %}
        </div>
      </form>

      {# Products grid #}
      <div class="row mt-2">
        {% for product in products %}
        <div class="col-6 col-md-4 col-lg-3 mt-2">
          {% include 'home/_product_card.html' %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock main %}
