<div class="bg-white p-3 shadow-sm rounded">
  {% if user == shop_owner %}
  <div class="text-end">
    <a href="{% url 'shop_edit' %}" class="btn btn-light">
      <i class="fa-solid fa-pencil"></i>
    </a>
  </div>
  {% endif %} {# avatar #}
  <div class="text-center">
    <img
      src="/media/{{ shop_owner.information.avatar }}"
      class="border rounded-circle"
      style="--size: 80px; width: var(--size); height: var(--size);"
      alt="User's avatar"
    />
  </div>
  <h6 class="text-center mb-0">
    {{ shop_owner.first_name }} {{ shop_owner.last_name }}
  </h6>
  <p class="text-center">
    <span>@{{ shop_owner.username }}</span>
    <i class="fa-solid fa-circle-check text-primary"></i>
  </p>
  {# Follow button #}
  <div class="d-flex gap-1 justify-content-center">
    <form action="">
      <button class="btn btn-primary btn-sm">Follow</button>
    </form>
    <a href="" class="btn btn-outline-primary btn-sm"> Chat </a>
  </div>
  <hr />
  {# Shop info #}
  <h6>Bio</h6>
  <p class="px-2 text-muted">
    <small> Lorem ipsum dolor sit amet consectetur adipisicing elit </small>
  </p>
  <h6>Location</h6>
  <p class="px-2 text-muted">
    <small> Hanoi, Vietnam </small>
  </p>
  <h6>Website</h6>
  <p class="px-2 text-muted">
    <small> https://example.com </small>
  </p>
  <h6>Email</h6>
  <p class="px-2">
    <small>
      <a
        href="mailto:{{ shop_owner.email }}"
        class="text-muted text-decoration-none"
        >{{ shop_owner.email }}</a
      >
    </small>
  </p>
  <h6>Phone</h6>
  <p class="px-2">
    <small>
      <a
        href="tel:{{ shop_owner.information.phone }}"
        class="text-muted text-decoration-none"
        >{{ shop_owner.information.phone }}</a
      >
    </small>
  </p>
</div>