{% extends 'layouts/public/layout.html' %} {% block main %}

<div class="row mt-2">
  <div class="col-12 col-md-3">
    {% include 'user/shops/_shop_info.html' %}
  </div>

  <div class="col-12 col-md-9 mt-3 mt-md-0">
    {# Filters #}
    <div
      class="btn-group shadow-sm"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio1"
        autocomplete="off"
        checked
      />
      <label class="btn btn-outline-primary btn-sm" for="btnradio1"
        >Newest</label
      >

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio2"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary btn-sm" for="btnradio2"
        >Best Sellers</label
      >
    </div>

    {# Categories #}
    <div class="d-flex gap-2 my-2">
      {% for category in categories %}
      <a href="#" class="btn btn-secondary btn-sm">
        {{ category.name }} <span class="badge text-bg-light">{{ category.product_set.count }}</span>
      </a>
      {% endfor %}
    </div>

    {# Products #}
    <div class="row mt-2">
      {% for product in products %}
      <div class="col-6 col-md-4 col-lg-3 mt-2">
        {% include 'home/_product_card.html' %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock main %}

<!--
{# Categories #}
      <div class="row mt-2">
        {% for category in categories %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
          <div class="bg-light p-3 rounded">
            <h6>{{ category.name }}</h6>
            <p class="text-muted">
              <small>{{ category.products.count }} products</small>
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
-->
