{% extends 'layouts/public/layout.html' %}

{% block main %}

<div class="row mt-2">
  <div class="col-12 col-md-4 bg-white shadow-sm rounded p-3">
    <div class="text-center">
      <img
        src="https://yt3.ggpht.com/XsQGEFu_0-dYNwzmzpsbL8d1m2NUNAkm-0jMYJChphymIlpPEgErjPqNPpRnxdPcyAq2U1M3cQ=s88-c-k-c0x00ffffff-no-rj"
        alt="Profile Picture" class="img-thumbnail rounded-circle"
        style="--size: 120px; width: var(--size); height: var(--size);" />
      <h4 class="mb-0">{{ shop_owner.first_name }} {{ shop_owner.last_name }}</h4>
      <small>
        <i class="fas fa-check-circle text-primary"></i>
        Đã xác minh
        </s>
        <h6 class="text-dark-emphasis">@{{ shop_owner.username }}</h6>
    </div>

    {% comment %} Action {% endcomment %}
    <div class="text-center">
      <a href="#" class="btn btn-light btn-sm">
        <i class="fa-solid fa-check"></i>
        Followed
      </a>
      <a href="#" class="btn btn-light btn-sm">
        <i class="fa-solid fa-comment"></i>
        Chat
      </a>
    </div>

  </div>
</div>


{% endblock main %}